import FWCore.ParameterSet.Config as cms

from UserCode.bsmhiggs_fwk.mainNtuplizer_cfi import *

from PhysicsTools.PatAlgos.tools.jetTools import updateJetCollection 
from PhysicsTools.PatUtils.tools.runMETCorrectionsAndUncertainties import runMetCorAndUncFromMiniAOD

process.load("FWCore.MessageService.MessageLogger_cfi")
process.MessageLogger.cerr.FwkReport.reportEvery = 5000

process.load("PhysicsTools.PatAlgos.producersLayer1.patCandidates_cff")
process.load("Configuration.EventContent.EventContent_cff")
process.maxEvents = cms.untracked.PSet( input = cms.untracked.int32(-1) )

#load run conditions
#process.load('Configuration.Geometry.GeometryIdeal_cff')
process.load('Configuration.StandardSequences.GeometryRecoDB_cff')
process.load('Configuration.StandardSequences.MagneticField_38T_cff')

#------ Declare the correct global tag ------#
process.load('Configuration.StandardSequences.FrontierConditions_GlobalTag_condDBv2_cff')
process.GlobalTag.globaltag = '@gtag'

process.options   = cms.untracked.PSet(
   allowUnscheduled = cms.untracked.bool(True)
)

updateJetCollection(
   process, 
   jetSource = cms.InputTag('slimmedJets'), 
   labelName = 'UpdatedJEC', 
   jetCorrections = ('AK4PFchs', cms.vstring(['L1FastJet', 'L2Relative', 'L3Absolute', 'L2L3Residual']), 'None')  
# Update: Safe to always add 'L2L3Residual' as MC contains dummy L2L3Residual corrections (always set to 1) 
)

from RecoEgamma.EgammaTools.EgammaPostRecoTools import setupEgammaPostRecoSeq
#re-run the Pileup ID
#https://twiki.cern.ch/twiki/bin/view/CMS/PileupJetIDUL#Recommendations_for_2017_UL_data
from RecoJets.JetProducers.PileupJetID_cfi import _chsalgos_106X_UL18
from RecoJets.JetProducers.PileupJetID_cfi import pileupJetId
process.pileupJetIdUpdated = pileupJetId.clone( 
        jets=cms.InputTag('updatedPatJetsUpdatedJEC'), #Your JEC corrected jets here
        inputIsCorrected=True,
        applyJec=False,
        vertexes=cms.InputTag("offlineSlimmedPrimaryVertices"),
        algos = cms.VPSet(_chsalgos_106X_UL18),
    )

#rerun energy correction for electrons
#Recipe for running scales and smearings using EgammaPostRecoTools
setupEgammaPostRecoSeq(process,
                       runEnergyCorrections=True,
                       runVID=False, #saves CPU time by not needlessly re-running VID, if you want the Fall17V2 IDs, set this to True or remove (default is True)
                       era='2018-UL')    
#a sequence egammaPostRecoSeq has now been created and should be added to your path, eg process.p=cms.Path(process.egammaPostRecoSeq)

runOnMC=@isMC
if runOnMC:
  runMetCorAndUncFromMiniAOD(process,
	isData=False
	)
else:
  runMetCorAndUncFromMiniAOD(process,
	isData=True
	)

process.mainNtuplizer.isMC = cms.bool(@isMC)
process.mainNtuplizer.dtag = cms.string("@dtag")
process.mainNtuplizer.xsec = cms.double(@xsec)
#process.mainNtuplizer.nevts = cms.double(@nevts)
process.mainNtuplizer.mctruthmode = cms.int32(@mctruthmode)
process.mainNtuplizer.verbose = cms.bool(@verbose)
process.mainNtuplizer.jetsTag = cms.InputTag('updatedPatJetsUpdatedJEC')
process.mainNtuplizer.metFilterBitsTag = cms.InputTag('TriggerResults','','HLT')
process.mainNtuplizer.Legacy2016 = cms.bool(False)

###########################################################
## Workflow START
## We try to reproduce slimmedJetsAK8 collection
## like in MiniAOD production but lower the pt cut to as low
## as possible
##
###########################################################
from UserCode.bsmhiggs_fwk.puppiJetMETReclusteringTools import puppiAK8ReclusterFromMiniAOD

from RecoBTag.ONNXRuntime.pfDeepBoostedJet_cff import _pfDeepBoostedJetTagsAll as pfDeepBoostedJetTagsAll
from RecoBTag.ONNXRuntime.pfHiggsInteractionNet_cff import _pfHiggsInteractionNetTagsProbs as pfHiggsInteractionNetTagsProbs
from RecoBTag.ONNXRuntime.pfParticleNet_cff import _pfParticleNetJetTagsAll as pfParticleNetJetTagsAll
from RecoBTag.ONNXRuntime.pfParticleNet_cff import _pfParticleNetMassRegressionOutputs

btagDiscriminatorsAK8 = cms.PSet(names = cms.vstring(
'pfCombinedSecondaryVertexV2BJetTags',
'pfCombinedInclusiveSecondaryVertexV2BJetTags',
# 'pfCombinedMVAV2BJetTags',
'pfDeepCSVJetTags:probb',
'pfDeepCSVJetTags:probc',
'pfDeepCSVJetTags:probudsg',
'pfDeepCSVJetTags:probbb',
'pfBoostedDoubleSecondaryVertexAK8BJetTags',
'pfMassIndependentDeepDoubleBvLV2JetTags:probQCD',
'pfMassIndependentDeepDoubleBvLV2JetTags:probHbb',
'pfMassIndependentDeepDoubleCvLV2JetTags:probQCD',
'pfMassIndependentDeepDoubleCvLV2JetTags:probHcc',
'pfMassIndependentDeepDoubleCvBV2JetTags:probHbb',
'pfMassIndependentDeepDoubleCvBV2JetTags:probHcc',
)
# + pfDeepBoostedJetTagsAll
+ pfParticleNetJetTagsAll
# + pfHiggsInteractionNetTagsProbs
# # + _pfParticleNetMassRegressionOutputs
)

btagDiscriminatorsAK8Subjets = cms.PSet(names = cms.vstring(
   'pfDeepCSVJetTags:probb',
   'pfDeepCSVJetTags:probbb',
 )
)

process = puppiAK8ReclusterFromMiniAOD(process,
   runOnMC=@isMC,
   useExistingWeights=True,
   btagDiscriminatorsAK8=btagDiscriminatorsAK8,
   btagDiscriminatorsAK8Subjets=btagDiscriminatorsAK8Subjets,
   reclusterAK8GenJets=@isMC
)

process.patAlgosToolsTask.add(process.patJetPartons)

################################
## Override some configurations
## for reclustered AK8 Gen jets
################################
runOnMC=@isMC
if runOnMC:
    process.ak8GenJetsNoNu.jetPtMin = 10
    process.ak8GenJetsNoNuSoftDrop.jetPtMin = 10
    process.ak8GenJetsNoNuConstituents.cut = "pt > 10"

#################################
## Override some configurations
## for reclustered AK8 Puppi jets
##################################
process.ak8PFJetsPuppi.jetPtMin = 15
process.ak8PFJetsPuppiSoftDrop.jetPtMin = 15
process.ak8PFJetsPuppiConstituents.cut = "pt > 15. && abs(rapidity()) < 2.4"

finalAK8PuppiPt = 30
process.selectedPatJetsAK8Puppi.cut = "pt > {}".format(finalAK8PuppiPt)
process.selectedPatJetsAK8Puppi.cutLoose = ""
process.selectedPatJetsAK8Puppi.nLoose = 0
process.slimmedJetsAK8NoDeepTags.dropDaughters = cms.string("pt < {}".format(finalAK8PuppiPt))
process.slimmedJetsAK8NoDeepTags.dropSpecific = cms.string("pt < {}".format(finalAK8PuppiPt))
process.slimmedJetsAK8NoDeepTags.dropTagInfos = cms.string("pt < {}".format(finalAK8PuppiPt))

##################################
## For reclustered AK8 Puppi jets
##################################
process.mainNtuplizer.fatjetsTag = "slimmedJetsAK8"

#######################################################
##
## Workflow END
##
########################################################


process.source = cms.Source("PoolSource",
        fileNames = cms.untracked.vstring(),
#        inputCommands=cms.untracked.vstring( 
#        'keep *', 
#        'drop *_ctppsLocalTrackLiteProducer_*_RECO'
#        )
)

process.TFileService = cms.Service("TFileService",
			fileName = cms.string("analysis.root")
)

process.pathRunPatAlgos = cms.Path(process.patAlgosToolsTask)
process.p = cms.Path(
	process.patJetCorrFactorsUpdatedJEC *  
	process.updatedPatJetsUpdatedJEC * 
	process.pileupJetIdUpdated *
	process.fullPatMetSequence *
	process.egammaPostRecoSeq *
	process.mainNtuplizer )	
